<div class="continer">
        <nav class="menu-bar">
        <ul class="left-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Inperson Appoiment </a></li>
            <li><a href="#">Online Appointment</a></li>
        </ul>
        <div class="logo">
            <img src="logo.png" alt="Logo">
        </div>
        <ul class="right-menu">
            <li><a href="#">Self Improvement</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About Me</a></li>
        </ul>
    </nav>
    </div>
